<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
  <script src="https://kit.fontawesome.com/c30dffc46d.js" crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/afd6aa68df.js" crossorigin="anonymous"></script>
  
  <title>ThunderBolt's Weather App</title>
  <link rel="stylesheet" href="./css/style.css" />
</head>

<body>
  <div class="container">    
    <div class="card">      
      <h2 class="whether_app">Wheather App</h2>
      <div class="search">
        <form action="/" method="POST" name="text" autocomplete="off">
          <input type="text" name="city" class="ghost-input"  id="" onmouseout="document.search.text.value = ''">        
        </form>
        <i class="fas fa-search"></i>
      </div>

      <main class="main">
        <!-- todo all the content of card -->       
       
        <div>          
                   
          <div class="svgimg">
            <% if(icon !== null) { %>
              <img class="svgimg" src="https://openweathermap.org/img/w/<%= icon %>.png" alt="">
            <% } %> 
          </div>

          <% if(des !== null) { %>
            <h2 class="img-des"><%= des%></h2>     
          <% } %>       
                    
          <% if(temp !== null) { %>
            <h1 class="temp"><%= temp%> <span class="temp">&#8457;</span></h1>     
          <% } %>

          <% if(city !== null){ %>
            <h1 class="city"><%= city%></h1>
          <% } %>
          
        </div>  
      </main>

      <input class="bars-box" type="checkbox" />
      <div class="toggle"><i class="fas fa-bars"></i></div>
      <div class="details">
        <!-- ?all the 4 card in here -->
        <div class="card text-white bg-primary mb-3">
          <div class="card-body">
            <h5 class="card-title"><i class="fas fa-thermometer-half" ></i></h5>
            <h6 class="card-toggle-text">Feels Like</h6>
            <% if(feels_like !== null) { %>
              <p class="card-value"><%= feels_like%><span>&#8457;</span></p>              
            <% } %>
          </div>
        </div>
        <div class="card text-white bg-primary mb-4">
          <div class="card-body">
            <h5 class="card-title"><i class=" fas fa-solid fa-wind" ></i></h5>
            <h6 class="card-toggle-text">Wind</h6>
            <% if(wind_speed !== null) { %>
              <p class="card-value"><%= wind_speed%> km/h</p>              
            <% } %>            
          </div>
        </div>
        <div class="card text-white bg-primary mb-5">
          <div class="card-body">
            <h5 class="card-title"><i class="fal fa-raindrops"></i></i></h5>
            <h6 class="card-toggle-text">Humidity</i></h6>
            <% if(humidity !== null) { %>
              <p class="card-value"><%= humidity%></p>                         
            <% } %>
          </div>
        </div>
        <div class="card text-white bg-primary mb-6">
          <div class="card-body">
            <h5 class="card-title"><img class="speedometer" src="svg/speedometer.svg" alt=""></h5>
            <h6 class="card-toggle-text">Pressure</h6>
            <% if(pressure !== null) { %>
              <p class="card-value"><%= pressure%> in</p>                         
            <% } %>            
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>